@{
    ViewBag.Title = "Admin panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row">
        <div class="box">
            <h2>Dobrodošao admine:)</h2>
        </div>
    </div>
</div>


